.main{
    margin-left: 17em !important;
    margin-top: 7em !important;
    width: 65em !important;
    /* height: 30em !important; */
    /* border:3px #FFFFFF !important; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
 

}
.first{
    border: 1px #A6AEBB
    solid;
    border-radius: 7px;
    /* text-align: center; */
    height: 13em;
    
}
p{
    font-size:10px;
    margin-left:0.6em;
    font-weight: bold;
    margin-top: 0.3em !important;
    color: #091E42 !important;
}
h4{
     font-weight: bolder !important;
    color: #091E42 !important;
    font-size: 1.3em !important;
    text-align: center; 
    margin-top: 2em !important;
}
#range{
    margin-left: 3em;
    background-color: green !important;
}
.bar{
    margin-left: 6em !important;
    width: 2em !important;
    font-size: 0.7em;
    color: #091E42;
    font-weight: bold;
}