table {
    margin-top: 1.8em !important;
    width: 70vw;
    border-collapse: collapse;
margin-left: 15em;   
  }
  
  th {
    background-color: #A2D896; /* Green background color */
    padding: 10px !important; /* Add spacing between the titles */
  }
   td{
    padding: 1em !important;
   }