table {
    margin-top: 5em !important;
    width: 100%;
    border-collapse: collapse;
   
  }
  
  th {
    background-color: #A2D896; /* Green background color */
    padding: 10px !important; /* Add spacing between the titles */
  }
   td{
    padding: 1em !important;
   }