.sort{
    margin-top: 1em !important;
    margin-left: 1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.frame{
    margin-top: 1em !important;
    margin-left: 1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.sub{
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: end; */
    justify-items: flex-end;
    margin-left: 50em;
    gap: 1em;
    margin-top: 2em;
}
 /* .p{
    margin-left: -</div>
    <div className= 'sub'>
        <p className40em !important; */
/* }  */
.togg{
    width:1.5em;
    height: 1em;
    margin-top: 1em !important;
    cursor: pointer;
    
    
}
button{
    width:13em;
    height:3em !important;
    margin-top: 0.5em !important;
    color: #0047B3;
    background-color: white !important;
    border: #0047B3 1px solid !important;
    border-radius: 5px !important;
    
}
