.sort{
    margin-top: -4em !important;
    margin-left: 1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    /* border: #0047B3 2px solid; */
}
.join{
    
    /* border: #0047B3 2px solid; */
}
.frame{
    margin-top: -4em !important;
    margin-left: 6em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    /* border: #0047B3 2px solid; */
}
.sort:active,
.sort:hover{
    background-color: #96C0FF
    !important;
    border-color: #96C0FF;
    height: 1.5em;
    width: 1.5em;
    
}
.frame:hover,
.frame:active{
    background-color: #96C0FF
    !important;
    border-color: #96C0FF;
    height: 1.5em;
    width: 1.5em;
    
}

.sub{
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: end; */
    justify-items: flex-end;
    margin-left: 50em;
    gap: 1em;
    margin-top: 2em;
}
 /* .p{
    margin-left: -</div>
    <div className= 'sub'>
        <p className40em !important; */
/* }  */
.togg{
    width:1.5em;
    height: 1em;
    margin-top: -5em !important;
    cursor: pointer;
    
    
}
.first-btn{
    width:13em !important;
    height:3em !important;
    margin-top: 3em !important;
    color: #E6F0FF !important;
    background-color: #0047B3 !important;
    border: #0047B3 1px solid !important;
    border-radius: 5px !important;
   padding: 8px, 24px, 8px, 24px !important;
   /* position: absolute; */
   margin-left: 20em !important;
   font-weight: bold ;
   font-family: 'Archivo', sans-serif;

    
}
button:hover{
    background-color:#E6F0FF
    !important;
    color: #0047B3 !important;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .form-popup {
    position: fixed;
    top: 52%;
    left: 74%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 15px;
    z-index: 1;
    transition: 2s;
    right: 0;
    animation: slide 0.5s ;
    /* overflow-y: auto !important; */
  }
  @keyframes slide {
    0% {
        right: 10%;
      }
      /* 50% {
        left: 100%;
      } */
      10% {
        right: 10%;    
      }
}

.btt{
    width:22em !important;
    margin-top: 2.5em !important;
    margin-left: 20.8em !important;
    background-color: #0047B3 !important;
    border: #0047B3 1px solid !important;
    border-radius: 5px !important;
   padding: 8px, 24px, 8px, 24px !important;
   color: #E6F0FF !important;
   font-weight: bold ;
   height:3em !important;
   font-family: 'Archivo', sans-serif;

}
.spa{
    display: inline-block !important;
    font-size: 1.1em;
    width: 9.5em;
}
.bttnn{
margin-top: -1.7em !important;
margin-left: 19em !important;
width: 11.5em !important;
background-color: #0047B3 !important;
border: #0047B3 1px solid !important;
border-radius: 5px !important;
height:3em !important;
color: #E6F0FF !important;
font-weight: bold ;
font-family: 'Archivo', sans-serif;

}
.bttn:hover{
    background-color: #E6F0FF
    !important;
}
.spanz{
    margin-top: -3em !important;
    
}

@media only screen and (max-width: 960px) {
   .first-btn{ 
    width:7em !important;
    height:3em !important;
    margin-bottom: -3.4em !important;
    color: #E6F0FF !important;
    background-color: #0047B3 !important;
    border: #0047B3 1px solid !important;
    border-radius: 5px !important;
   padding: 8px, 24px, 8px, 24px !important;
   /* position: absolute; */
   margin-left: -34.8em !important;
   font-weight: bold ;

    
}

.bttnn{
    margin-top: -3.7em !important;
    margin-left: -32.3em !important;
    width: 10em !important;
    background-color: #0047B3 !important;
    border: #0047B3 1px solid !important;
    border-radius: 5px !important;
    height:3em !important;
    color: #E6F0FF !important;
    font-weight: bold ;
    font-family: 'Archivo', sans-serif;
    
    }
.sort{
    margin-top: -3.7em !important;
    margin-left: 18em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    /* border: #0047B3 2px solid; */
}
.frame{
    margin-top: -0.7em !important;
    margin-left: 6em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    /* border: #0047B3 2px solid; */
}
  }