
.projectz{
    margin-left:-1.5em !important ;
    margin-top: -5.2em;
    }
    
.teamzz{
    display: flex;
flex-direction: column;
    gap: 0.5em;
    margin-left: 60em !important;
    margin-top: 3em !important;
}
.hall{
    margin-left: 23em !important;
    font-size: 1.1em;
    margin-top: -0.7em !important;
}
.hall-image{
    margin-left: 0.2em !important;
    margin-top: -0.3em !important;

}
.n{
    display: grid;
    margin-top: -5.8em;
    margin-left: 2.5em;
    gap: 0.1em;
}
.p{
    margin-top: -1em !important;
    margin-left: 0.1em !important;
}
.subpro{
font-size: 1.1em !important;
}
.propro{
    font-size: 1.3em !important;
    font-weight: none !important;
}
.lantic{
    font-size: 0.7em !important;
}
    
.blacklink{
    color: #091E42;
    text-decoration: none;
}