.sidebar{
    gap: 1em;
    margin-left: 2em;
    margin-top: -30.5em;
    z-index: 1;
    position: absolute;
}
.side{
    color:  blue;
    margin-left: -0.3em;
    margin-top: -1em;
     position: sticky;
    z-index: 1;
}
h5 {
    margin-left: -7em !important;
    margin-top: -1.8em !important;
    font-size: 10px;
    color:  rgb(1, 1, 56);
    height: 2em;

}
#project-dropdown{
    color: rgb(1, 1, 56);
    background-color: white;
    border: none !important;
    margin-left: 0em;
    margin-top: -3.5em;
    font-size: 15px;
    color:  rgb(1, 1, 56);
    font-weight: bolder;
    /* max-height: 200px !important; */
    /* overflow-y: auto !important; */
    
}
h6{
    color:  rgb(1, 1, 56);
    font-weight: bolder !important;
    margin-left: 2.3em !important;
    margin-top: -1em !important;
    height: 2em;
    

}
.team h6{
    border-top: 1px solid !important;
    /* background-color: brown !important; */
    border-bottom: 1px solid !important;
    height: 3em;
    width: 10em;
}
.ditem{
    max-height: 200px; /* adjust the height to your needs */
  /* overflow-y: scroll !important; */
  overflow-wrap: normal;
  color:black !important;
  height: 130px !important;
  /* resize: vertical; */
  overflow-y: auto !important;

  }
  ::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background-color: #f5f5f5;
}