.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-bell {
  color: blue;
  margin-left:20em;
  margin-top: 3em;
}
.search-input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 20px;
  margin-right:15em;
  margin-top:1em;
}
.home {
  font-size: 1.5em;
  color: #091E42;
  width: 10em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin-left: -3em;
  margin-top: 1em;
}
.user-info {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height:42px;
  background-color: blue;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1rem;
  margin-top: 1.5em;
}

.name {
  font-size: 1em;
  font-weight: bold;
  color:  #091E42;
  font-weight: bold;
  margin-top: 0.9em;
}

.position {
  font-size: 0.8em;
  color: black;
  margin-top: 4em;
  margin-left: -7em;
  
}

